{% extends 'myapp/base.html' %}
    {% block content %}
    hello persons!
        <table border="1px">
            <tr><th>#id</th><th>#imie</th><th>#nazwisko</th></tr>
            {% for dane in dane_post %}
                <tr>
                  <td>{{ dane.id }}</td>
                  <td>{{ dane.imie }}</td>
                  <td><a href="{% url 'name_gowno' zmienna_nr=dane.id %}">{{ dane.nazwisko }}</a></td>
               </tr>
            {% endfor %}
            <tr>
               <td  colspan='2'>zmienna_nr:</td>
               <td>
                  {{ zmienna_nr }}
               </td>
        </table>
    {% endblock content %}
